<div class="container my-5">
    <h1>Added Employees</h1>
    <table class="table table-striped-columns" *ngIf="empList && empList.length>0">

        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Job
                </th>
                <th>
                    Created At
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of empList">
                <td>
                    {{emp.id}}
                </td>
                <td>
                    {{emp.name}}
                </td>
                <td>
                    {{emp.job}}
                </td>
                <td>
                    {{emp.createdAt}}
                </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!empList || empList.length<=0">No Employees added </p>
</div>